In [1]:
pip install pandasql

Requirement already satisfied: pandasql in c:\users\britt\anaconda\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in c:\users\britt\anaconda\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in c:\users\britt\anaconda\lib\site-packages (from pandasql) (1.4.39)
Requirement already satisfied: pandas in c:\users\britt\anaconda\lib\site-packages (from pandasql) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\britt\anaconda\lib\site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\britt\anaconda\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\britt\anaconda\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\britt\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install dask

Requirement already satisfied: dask in c:\users\britt\anaconda\lib\site-packages (2022.7.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: partd>=0.3.10 in c:\users\britt\anaconda\lib\site-packages (from dask) (1.2.0)
Requirement already satisfied: toolz>=0.8.2 in c:\users\britt\anaconda\lib\site-packages (from dask) (0.11.2)
Requirement already satisfied: cloudpickle>=1.1.1 in c:\users\britt\anaconda\lib\site-packages (from dask) (2.0.0)
Requirement already satisfied: packaging>=20.0 in c:\users\britt\anaconda\lib\site-packages (from dask) (21.3)
Requirement already satisfied: fsspec>=0.6.0 in c:\users\britt\anaconda\lib\site-packages (from dask) (2022.7.1)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\britt\anaconda\lib\site-packages (from dask) (6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\britt\anaconda\lib\site-packages (from packaging>=20.0->dask) (3.0.9)
Requirement already satisfied: locket in c:\users\britt\anaconda\lib\site-packages (from partd>=0.3.10->dask) (1.0.0)

In [3]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\britt\anaconda\lib\site-packages (3.5.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\britt\anaconda\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\britt\anaconda\lib\site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in c:\users\britt\anaconda\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\britt\anaconda\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\britt\anaconda\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.17 in c:\users\britt\anaconda\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\britt\anaconda\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\britt\anaconda\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in c:\users\britt\anaconda\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import sqlite3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandasql import sqldf
import dask.dataframe as dd
import calendar
from datetime import datetime

In [9]:
filepath1 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202201-divvy-tripdata.csv')
filepath2 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202202-divvy-tripdata.csv')
filepath3 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202203-divvy-tripdata.csv')
filepath4 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202204-divvy-tripdata.csv')
filepath5 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202205-divvy-tripdata.csv')
filepath6 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202206-divvy-tripdata.csv')
filepath7 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202207-divvy-tripdata.csv')
filepath8 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202208-divvy-tripdata.csv')
filepath9 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202209-divvy-publictripdata.csv')
filepath10 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202210-divvy-tripdata.csv')
filepath11 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202211-divvy-tripdata.csv')
filepath12 = (r'C:\Users\Britt\Desktop\Capstone Datasets\202212-divvy-tripdata.csv')

In [10]:
df1 = dd.read_csv(filepath1, low_memory=False)
df2 = dd.read_csv(filepath2, low_memory=False)
df3 = dd.read_csv(filepath3, low_memory=False)
df4 = dd.read_csv(filepath4, low_memory=False)
df5 = dd.read_csv(filepath5, low_memory=False)
df6 = dd.read_csv(filepath6, low_memory=False, dtype={'end_station_id':'object', 'end_station_name':'object', 'start_station_id':'object', 'start_station_name':'object'})
df7 = dd.read_csv(filepath7, low_memory=False)
df8 = dd.read_csv(filepath8, low_memory=False, dtype={'end_station_id':'object', 'end_station_name':'object', 'start_station_id':'object', 'start_station_name':'object'})
df9 = dd.read_csv(filepath9, low_memory=False, dtype={'end_station_id':'object', 'start_station_id':'object', 'start_station_name':'object'})
df10 = dd.read_csv(filepath10, low_memory=False)
df11 = dd.read_csv(filepath11, low_memory=False)
df12 = dd.read_csv(filepath12, low_memory=False)

df1 = df1.compute()
df2 = df2.compute()
df3 = df3.compute()
df4 = df4.compute()
df5 = df5.compute()
df6 = df6.compute()
df7 = df7.compute()
df8 = df8.compute()
df9 = df9.compute()
df10 = df10.compute()
df11 = df11.compute()
df12 = df12.compute()

In [11]:
divvy_df1 = df1.copy()
divvy_df2 = df2.copy()
divvy_df3 = df3.copy()
divvy_df4 = df4.copy()
divvy_df5 = df5.copy()
divvy_df6 = df6.copy()
divvy_df7 = df7.copy()
divvy_df8 = df8.copy()
divvy_df9 = df9.copy()
divvy_df10 = df10.copy()
divvy_df11 = df11.copy()
divvy_df12 = df12.copy()

In [12]:
divvy_df1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103765,8788DA3EDE8FD8AB,electric_bike,2022-01-18 12:36:48,2022-01-18 12:46:19,Clinton St & Washington Blvd,WL-012,NaN,NaN,41.883436,-87.641391,41.890000,-87.620000,casual
103766,C6C3B64FDC827D8C,electric_bike,2022-01-27 11:00:06,2022-01-27 11:02:40,Racine Ave & Randolph St,13155,NaN,NaN,41.884158,-87.656977,41.880000,-87.650000,casual
103767,CA281AE7D8B06F5A,electric_bike,2022-01-10 16:14:51,2022-01-10 16:20:58,Broadway & Waveland Ave,13325,Clark St & Grace St,TA1307000127,41.949066,-87.648611,41.950780,-87.659172,casual
103768,44E348991862319B,electric_bike,2022-01-19 13:22:11,2022-01-19 13:24:27,Racine Ave & Randolph St,13155,NaN,NaN,41.884005,-87.657031,41.880000,-87.660000,casual
103769,E477C594A182AE58,electric_bike,2022-01-13 17:24:43,2022-01-13 17:28:14,Clinton St & Washington Blvd,WL-012,Desplaines St & Kinzie St,TA1306000003,41.883248,-87.641244,41.888716,-87.644448,casual

In [13]:
divvy_df2

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E1E065E7ED285C02,classic_bike,2022-02-19 18:08:41,2022-02-19 18:23:56,State St & Randolph St,TA1305000029,Clark St & Lincoln Ave,13179,41.884621,-87.627834,41.915689,-87.634600,member
1,1602DCDC5B30FFE3,classic_bike,2022-02-20 17:41:30,2022-02-20 17:45:56,Halsted St & Wrightwood Ave,TA1309000061,Southport Ave & Wrightwood Ave,TA1307000113,41.929143,-87.649077,41.928773,-87.663913,member
2,BE7DD2AF4B55C4AF,classic_bike,2022-02-25 18:55:56,2022-02-25 19:09:34,State St & Randolph St,TA1305000029,Canal St & Adams St,13011,41.884621,-87.627834,41.879255,-87.639904,member
3,A1789BDF844412BE,classic_bike,2022-02-14 11:57:03,2022-02-14 12:04:00,Southport Ave & Waveland Ave,13235,Broadway & Sheridan Rd,13323,41.948150,-87.663940,41.952833,-87.649993,member
4,07DE78092C62F7B3,classic_bike,2022-02-16 05:36:06,2022-02-16 05:39:00,State St & Randolph St,TA1305000029,Franklin St & Lake St,TA1307000111,41.884621,-87.627834,41.885837,-87.635500,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115604,211BE0DC162D85B7,electric_bike,2022-02-23 17:47:49,2022-02-23 18:02:29,NaN,NaN,Leavitt St & Chicago Ave,18058,41.880000,-87.630000,41.895501,-87.682017,member
115605,D4D53E78000C8CA1,electric_bike,2022-02-04 10:43:47,2022-02-04 10:50:52,NaN,NaN,Leavitt St & Chicago Ave,18058,41.910000,-87.680000,41.895501,-87.682017,member
115606,9E85F07D2F94492B,electric_bike,2022-02-28 09:16:33,2022-02-28 09:28:11,Wood St & Chicago Ave,637,Canal St & Adams St,13011,41.895714,-87.672210,41.879255,-87.639904,member
115607,B61B559F81F1D823,electric_bike,2022-02-10 16:55:16,2022-02-10 16:57:53,NaN,NaN,Canal St & Adams St,13011,41.880000,-87.630000,41.879255,-87.639904,member
115608,841C701610CF0609,electric_bike,2022-02-21 16:35:20,2022-02-21 16:42:53,NaN,NaN,Larrabee St & Oak St,KA1504000116,41.880000,-87.650000,41.900219,-87.642985,member

In [14]:
divvy_df3

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,47EC0A7F82E65D52,classic_bike,2022-03-21 13:45:01,2022-03-21 13:51:18,Wabash Ave & Wacker Pl,TA1307000131,Kingsbury St & Kinzie St,KA1503000043,41.886875,-87.626030,41.889177,-87.638506,member
1,8494861979B0F477,electric_bike,2022-03-16 09:37:16,2022-03-16 09:43:34,Michigan Ave & Oak St,13042,Orleans St & Chestnut St (NEXT Apts),620,41.900998,-87.623752,41.898203,-87.637536,member
2,EFE527AF80B66109,classic_bike,2022-03-23 19:52:02,2022-03-23 19:54:48,Broadway & Berwyn Ave,13109,Broadway & Ridge Ave,15578,41.978353,-87.659753,41.984045,-87.660274,member
3,9F446FD9DEE3F389,classic_bike,2022-03-01 19:12:26,2022-03-01 19:22:14,Wabash Ave & Wacker Pl,TA1307000131,Franklin St & Jackson Blvd,TA1305000025,41.886875,-87.626030,41.877708,-87.635321,member
4,431128AD9AFFEDC0,classic_bike,2022-03-21 18:37:01,2022-03-21 19:19:11,DuSable Lake Shore Dr & North Blvd,LF-005,Loomis St & Jackson Blvd,13206,41.911722,-87.626804,41.877945,-87.662007,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
284037,E23BE3DB740BE3B4,docked_bike,2022-03-13 16:31:03,2022-03-13 16:39:32,Michigan Ave & Oak St,13042,Streeter Dr & Grand Ave,13022,41.900960,-87.623777,41.892278,-87.612043,casual
284038,15AF71F3220F2A75,docked_bike,2022-03-09 06:56:02,2022-03-09 07:42:14,Broadway & Barry Ave,13137,Ravenswood Ave & Berteau Ave,TA1309000018,41.937582,-87.644098,41.957921,-87.673567,casual
284039,9C4CE6CC19F8225B,electric_bike,2022-03-09 15:55:26,2022-03-09 16:08:54,NaN,NaN,Albany Ave & Montrose Ave,15621,41.940000,-87.710000,41.961041,-87.705866,member
284040,F4E136DEF696F3AE,electric_bike,2022-03-21 16:12:44,2022-03-21 16:18:24,NaN,NaN,Larrabee St & Division St,KA1504000079,41.910000,-87.650000,41.903486,-87.643353,member
284041,5AEC5F39AF711895,classic_bike,2022-03-03 18:13:40,2022-03-03 18:23:39,Clark St & Randolph St,TA1305000030,Streeter Dr & Grand Ave,13022,41.884576,-87.631890,41.892278,-87.612043,member

In [15]:
divvy_df4

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3564070EEFD12711,electric_bike,2022-04-06 17:42:48,2022-04-06 17:54:36,Paulina St & Howard St,515,University Library (NU),605,42.019135,-87.673532,42.052939,-87.673447,member
1,0B820C7FCF22F489,classic_bike,2022-04-24 19:23:07,2022-04-24 19:43:17,Wentworth Ave & Cermak Rd,13075,Green St & Madison St,TA1307000120,41.853085,-87.631931,41.881892,-87.648789,member
2,89EEEE32293F07FF,classic_bike,2022-04-20 19:29:08,2022-04-20 19:35:16,Halsted St & Polk St,TA1307000121,Green St & Madison St,TA1307000120,41.871840,-87.646640,41.881892,-87.648789,member
3,84D4751AEB31888D,classic_bike,2022-04-22 21:14:06,2022-04-22 21:23:29,Wentworth Ave & Cermak Rd,13075,Delano Ct & Roosevelt Rd,KA1706005007,41.853085,-87.631931,41.867491,-87.632190,casual
4,5664BCF0D1DE7A8B,electric_bike,2022-04-16 15:56:30,2022-04-16 16:02:11,Halsted St & Polk St,TA1307000121,Clinton St & Madison St,TA1305000032,41.871808,-87.646574,41.882242,-87.641066,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
371244,C5A123D7BF8D350A,electric_bike,2022-04-22 15:54:11,2022-04-22 16:20:59,Streeter Dr & Grand Ave,13022,California Ave & North Ave,13258,41.892296,-87.612198,41.910475,-87.696894,member
371245,F7FCC7C26D8D137D,electric_bike,2022-04-21 20:18:17,2022-04-21 20:46:45,Streeter Dr & Grand Ave,13022,California Ave & North Ave,13258,41.892295,-87.612323,41.910475,-87.696894,member
371246,43D351300A40000A,classic_bike,2022-04-21 16:46:02,2022-04-21 17:15:05,Franklin St & Monroe St,TA1309000007,St. Clair St & Erie St,13016,41.880317,-87.635185,41.894345,-87.622798,member
371247,1618BFEEA7B566EF,electric_bike,2022-04-16 13:19:44,2022-04-16 13:37:31,Ashland Ave & Blackhawk St,13224,Southport Ave & Waveland Ave,13235,41.907094,-87.667217,41.948150,-87.663940,casual
371248,92C069001A6B17B1,electric_bike,2022-04-21 18:06:41,2022-04-21 18:11:49,Southport Ave & Clark St,TA1308000047,Southport Ave & Waveland Ave,13235,41.957102,-87.664184,41.948150,-87.663940,casual

In [16]:
divvy_df5

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EC2DE40644C6B0F4,classic_bike,2022-05-23 23:06:58,2022-05-23 23:40:19,Wabash Ave & Grand Ave,TA1307000117,Halsted St & Roscoe St,TA1309000025,41.891466,-87.626761,41.943670,-87.648950,member
1,1C31AD03897EE385,classic_bike,2022-05-11 08:53:28,2022-05-11 09:31:22,DuSable Lake Shore Dr & Monroe St,13300,Field Blvd & South Water St,15534,41.880958,-87.616743,41.886349,-87.617517,member
2,1542FBEC830415CF,classic_bike,2022-05-26 18:36:28,2022-05-26 18:58:18,Clinton St & Madison St,TA1305000032,Wood St & Milwaukee Ave,13221,41.882242,-87.641066,41.907655,-87.672552,member
3,6FF59852924528F8,classic_bike,2022-05-10 07:30:07,2022-05-10 07:38:49,Clinton St & Madison St,TA1305000032,Clark St & Randolph St,TA1305000030,41.882242,-87.641066,41.884576,-87.631890,member
4,483C52CAAE12E3AC,classic_bike,2022-05-10 17:31:56,2022-05-10 17:36:57,Clinton St & Madison St,TA1305000032,Morgan St & Lake St,TA1306000015,41.882242,-87.641066,41.885779,-87.651025,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
634853,8891BA0053ECEC4F,electric_bike,2022-05-27 22:00:02,2022-05-27 22:07:01,Clark St & Newport St,632,NaN,NaN,41.944557,-87.654830,41.920000,-87.650000,member
634854,47D8B5FBCADECFC1,electric_bike,2022-05-15 16:05:39,2022-05-15 16:44:12,Clark St & Newport St,632,NaN,NaN,41.944479,-87.654758,41.920000,-87.760000,member
634855,AA8D16CF38B40703,electric_bike,2022-05-21 10:10:13,2022-05-21 10:26:09,Francisco Ave & Bloomingdale Ave,429,NaN,NaN,41.910000,-87.700000,41.920000,-87.660000,casual
634856,897EBFD44F329E0A,electric_bike,2022-05-12 07:53:58,2022-05-12 08:01:18,Francisco Ave & Bloomingdale Ave,429,NaN,NaN,41.910000,-87.700000,41.900000,-87.690000,member
634857,AAC23AB89E8A7733,electric_bike,2022-05-11 21:14:28,2022-05-11 21:18:16,Clark St & Newport St,632,NaN,NaN,41.944567,-87.654802,41.940000,-87.650000,member

In [17]:
divvy_df6

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,600CFD130D0FD2A4,electric_bike,2022-06-30 17:27:53,2022-06-30 17:35:15,NaN,NaN,NaN,NaN,41.890000,-87.620000,41.910000,-87.620000,casual
1,F5E6B5C1682C6464,electric_bike,2022-06-30 18:39:52,2022-06-30 18:47:28,NaN,NaN,NaN,NaN,41.910000,-87.620000,41.930000,-87.630000,casual
2,B6EB6D27BAD771D2,electric_bike,2022-06-30 11:49:25,2022-06-30 12:02:54,NaN,NaN,NaN,NaN,41.910000,-87.650000,41.890000,-87.610000,casual
3,C9C320375DE1D5C6,electric_bike,2022-06-30 11:15:25,2022-06-30 11:19:43,NaN,NaN,NaN,NaN,41.800000,-87.660000,41.800000,-87.650000,casual
4,56C055851023BE98,electric_bike,2022-06-29 23:36:50,2022-06-29 23:45:17,NaN,NaN,NaN,NaN,41.910000,-87.630000,41.930000,-87.640000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394609,7B3B2890CA85E05D,classic_bike,2022-06-25 00:56:48,2022-06-25 01:01:39,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,41.910522,-87.653106,41.910522,-87.653106,member
394610,1E993989CC66BCBC,classic_bike,2022-06-25 00:56:25,2022-06-25 01:00:26,Sheffield Ave & Kingsbury St,13154,Sheffield Ave & Kingsbury St,13154,41.910522,-87.653106,41.910522,-87.653106,member
394611,AEA166296BC67566,electric_bike,2022-06-12 12:47:12,2022-06-12 12:47:36,Milwaukee Ave & Fullerton Ave,428,Milwaukee Ave & Fullerton Ave,428,41.920000,-87.700000,41.920000,-87.700000,casual
394612,B9F527742959CF03,classic_bike,2022-06-12 13:28:46,2022-06-12 13:53:11,Clark St & Randolph St,TA1305000030,Clark St & Randolph St,TA1305000030,41.884576,-87.631890,41.884576,-87.631890,casual
394613,D241310352E26484,classic_bike,2022-06-12 14:40:51,2022-06-12 15:08:14,Blue Island Ave & 18th St,13135,Blue Island Ave & 18th St,13135,41.857556,-87.661535,41.857556,-87.661535,casual

In [18]:
divvy_df7

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,954144C2F67B1932,classic_bike,2022-07-05 08:12:47,2022-07-05 08:24:32,Ashland Ave & Blackhawk St,13224,Kingsbury St & Kinzie St,KA1503000043,41.907066,-87.667252,41.889177,-87.638506,member
1,292E027607D218B6,classic_bike,2022-07-26 12:53:38,2022-07-26 12:55:31,Buckingham Fountain (Temp),15541,Michigan Ave & 8th St,623,41.869621,-87.623981,41.872773,-87.623981,casual
2,57765852588AD6E0,classic_bike,2022-07-03 13:58:49,2022-07-03 14:06:32,Buckingham Fountain (Temp),15541,Michigan Ave & 8th St,623,41.869621,-87.623981,41.872773,-87.623981,casual
3,B5B6BE44314590E6,classic_bike,2022-07-31 17:44:21,2022-07-31 18:42:50,Buckingham Fountain (Temp),15541,Woodlawn Ave & 55th St,TA1307000164,41.869621,-87.623981,41.795264,-87.596471,casual
4,A4C331F2A00E79E0,classic_bike,2022-07-13 19:49:06,2022-07-13 20:15:24,Wabash Ave & Grand Ave,TA1307000117,Sheffield Ave & Wellington Ave,TA1307000052,41.891466,-87.626761,41.936253,-87.652662,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
428155,605787F70B3B9FD3,electric_bike,2022-07-09 08:32:15,2022-07-09 08:56:10,NaN,NaN,NaN,NaN,41.740000,-87.680000,41.750000,-87.680000,member
428156,F0EECBEE637DF028,electric_bike,2022-07-17 13:27:57,2022-07-17 13:33:09,NaN,NaN,NaN,NaN,41.870000,-87.660000,41.870000,-87.680000,member
428157,B8B091DC72DDAB9D,electric_bike,2022-07-17 14:51:37,2022-07-17 14:57:01,NaN,NaN,NaN,NaN,41.950000,-87.640000,41.950000,-87.650000,member
428158,B4D3FFCC1F3AF5EC,electric_bike,2022-07-28 13:41:50,2022-07-28 13:47:17,NaN,NaN,NaN,NaN,41.880000,-87.630000,41.870000,-87.630000,member
428159,AA9217C8DA3BAC0B,electric_bike,2022-07-29 13:05:20,2022-07-29 13:10:40,NaN,NaN,NaN,NaN,41.900000,-87.660000,41.900000,-87.670000,member

In [19]:
divvy_df8

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,550CF7EFEAE0C618,electric_bike,2022-08-07 21:34:15,2022-08-07 21:41:46,NaN,NaN,NaN,NaN,41.930000,-87.690000,41.94,-87.72,casual
1,DAD198F405F9C5F5,electric_bike,2022-08-08 14:39:21,2022-08-08 14:53:23,NaN,NaN,NaN,NaN,41.890000,-87.640000,41.92,-87.64,casual
2,E6F2BC47B65CB7FD,electric_bike,2022-08-08 15:29:50,2022-08-08 15:40:34,NaN,NaN,NaN,NaN,41.970000,-87.690000,41.97,-87.66,casual
3,F597830181C2E13C,electric_bike,2022-08-08 02:43:50,2022-08-08 02:58:53,NaN,NaN,NaN,NaN,41.940000,-87.650000,41.97,-87.69,casual
4,0CE689BB4E313E8D,electric_bike,2022-08-07 20:24:06,2022-08-07 20:29:58,NaN,NaN,NaN,NaN,41.850000,-87.650000,41.84,-87.66,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
396556,EC17BE8AB1D73C88,electric_bike,2022-08-12 08:28:26,2022-08-12 08:42:26,Paulina St & Montrose Ave,TA1309000021,NaN,NaN,41.961563,-87.671431,41.94,-87.64,member
396557,57BAC0EA3A067A83,electric_bike,2022-08-22 12:30:19,2022-08-22 12:36:32,California Ave & 21st St,13096,NaN,NaN,41.853754,-87.695806,41.84,-87.69,member
396558,9B97FAE30276C299,electric_bike,2022-08-09 07:43:31,2022-08-09 07:50:50,Clinton St & Washington Blvd,WL-012,NaN,NaN,41.883404,-87.641222,41.89,-87.66,member
396559,2B4A9BA1E9AA9B51,electric_bike,2022-08-24 14:31:58,2022-08-24 14:40:32,Ashland Ave & Wellington Ave,13269,NaN,NaN,41.936081,-87.669896,41.93,-87.64,member
396560,7F0D048AC7C3B81A,electric_bike,2022-08-24 09:45:04,2022-08-24 09:45:19,Clark St & Lincoln Ave,13179,NaN,NaN,41.915784,-87.634676,41.92,-87.63,member

In [20]:
divvy_df9

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5156990AC19CA285,electric_bike,2022-09-01 08:36:22,2022-09-01 08:39:05,NaN,NaN,California Ave & Milwaukee Ave,13084,41.930000,-87.690000,41.922695,-87.697153,casual
1,E12D4A16BF51C274,electric_bike,2022-09-01 17:11:29,2022-09-01 17:14:45,NaN,NaN,NaN,NaN,41.870000,-87.620000,41.870000,-87.620000,casual
2,A02B53CD7DB72DD7,electric_bike,2022-09-01 17:15:50,2022-09-01 17:16:12,NaN,NaN,NaN,NaN,41.870000,-87.620000,41.870000,-87.620000,casual
3,C82E05FEE872DF11,electric_bike,2022-09-01 09:00:28,2022-09-01 09:10:32,NaN,NaN,NaN,NaN,41.930000,-87.690000,41.940000,-87.670000,casual
4,4DEEB4550A266AE1,electric_bike,2022-09-01 07:30:11,2022-09-01 07:32:36,NaN,NaN,NaN,NaN,41.920000,-87.730000,41.920000,-87.730000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
356372,32ECA2B32C4B6F85,classic_bike,2022-09-05 17:59:21,2022-09-05 18:19:07,Lincoln Ave & Winona St,KA1504000078,Broadway & Wilson - Truman College Vaccination...,13074,41.974911,-87.692503,41.965221,-87.658139,member
356373,14801F713026AEAE,classic_bike,2022-09-30 17:20:54,2022-09-30 17:34:40,Broadway & Ridge Ave,15578,Broadway & Wilson - Truman College Vaccination...,13074,41.984045,-87.660274,41.965221,-87.658139,member
356374,7CCAF5D6E88E45C0,electric_bike,2022-09-04 11:39:37,2022-09-04 11:50:55,Broadway & Ridge Ave,15578,Broadway & Wilson - Truman College Vaccination...,13074,41.984112,-87.660269,41.965221,-87.658139,member
356375,AF9A129D9AFAA40B,electric_bike,2022-09-28 13:42:45,2022-09-28 13:52:59,Lincoln Ave & Winona St,KA1504000078,Broadway & Wilson - Truman College Vaccination...,13074,41.974921,-87.692735,41.965221,-87.658139,member
356376,60B56F4897429FCE,electric_bike,2022-09-01 20:07:04,2022-09-01 20:18:01,Lincoln Ave & Winona St,KA1504000078,Broadway & Wilson - Truman College Vaccination...,13074,41.974902,-87.692650,41.965221,-87.658139,member

In [21]:
divvy_df10

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A50255C1E17942AB,classic_bike,2022-10-14 17:13:30,2022-10-14 17:19:39,Noble St & Milwaukee Ave,13290,Larrabee St & Division St,KA1504000079,41.900680,-87.662600,41.903486,-87.643353,member
1,DB692A70BD2DD4E3,electric_bike,2022-10-01 16:29:26,2022-10-01 16:49:06,Damen Ave & Charleston St,13288,Damen Ave & Cullerton St,13089,41.920037,-87.677937,41.854967,-87.675700,casual
2,3C02727AAF60F873,electric_bike,2022-10-19 18:55:40,2022-10-19 19:03:30,Hoyne Ave & Balmoral Ave,655,Western Ave & Leland Ave,TA1307000140,41.979879,-87.681902,41.966400,-87.688704,member
3,47E653FDC2D99236,electric_bike,2022-10-31 07:52:36,2022-10-31 07:58:49,Rush St & Cedar St,KA1504000133,Orleans St & Chestnut St (NEXT Apts),620,41.902274,-87.627692,41.898203,-87.637536,member
4,8B5407BE535159BF,classic_bike,2022-10-13 18:41:03,2022-10-13 19:26:18,900 W Harrison St,13028,Adler Planetarium,13431,41.874754,-87.649807,41.866095,-87.607267,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
558680,BC3BFA659C9AB6F1,classic_bike,2022-10-30 01:41:29,2022-10-30 01:57:16,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558681,ACD65450291CF95F,classic_bike,2022-10-30 01:41:54,2022-10-30 01:57:09,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558682,4AAC03D1438E97CA,classic_bike,2022-10-15 09:34:11,2022-10-15 10:03:21,Sedgwick St & North Ave,TA1307000038,Wabash Ave & Grand Ave,TA1307000117,41.911386,-87.638677,41.891466,-87.626761,casual
558683,8E6F3F29785E5D40,classic_bike,2022-10-09 10:21:34,2022-10-09 10:43:45,Sedgwick St & North Ave,TA1307000038,Damen Ave & Clybourn Ave,13271,41.911386,-87.638677,41.931931,-87.677856,member
558684,8D14CBE672431920,docked_bike,2022-10-22 13:17:13,2022-10-22 13:46:14,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual

In [22]:
divvy_df11

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BCC66FC6FAB27CC7,electric_bike,2022-11-10 06:21:55,2022-11-10 06:31:27,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member
1,772AB67E902C180F,classic_bike,2022-11-04 07:31:55,2022-11-04 07:46:25,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member
2,585EAD07FDEC0152,classic_bike,2022-11-21 17:20:29,2022-11-21 17:34:36,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
3,91C4E7ED3C262FF9,classic_bike,2022-11-25 17:29:34,2022-11-25 17:45:15,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
4,709206A3104CABC8,classic_bike,2022-11-29 17:24:25,2022-11-29 17:42:51,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337730,C349E243A9BAA6F7,electric_bike,2022-11-25 11:19:52,2022-11-25 11:31:50,Wabash Ave & Grand Ave,TA1307000117,NaN,NaN,41.891836,-87.626806,41.890000,-87.620000,member
337731,B0B4E85DA43A9194,classic_bike,2022-11-22 16:57:53,2022-11-22 17:31:29,Franklin St & Jackson Blvd,TA1305000025,Sheffield Ave & Wrightwood Ave,TA1309000023,41.877708,-87.635321,41.928712,-87.653833,casual
337732,8D148DD47B59530B,classic_bike,2022-11-06 13:04:05,2022-11-06 13:13:33,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876243,-87.624426,41.867226,-87.615355,casual
337733,0D1170BA18FD33D1,classic_bike,2022-11-06 09:41:29,2022-11-06 15:17:17,Halsted St & 18th St,13099,Shedd Aquarium,15544,41.857506,-87.645991,41.867226,-87.615355,casual
337734,09B20DC75B5EA1E0,electric_bike,2022-11-26 11:59:28,2022-11-26 12:31:04,Michigan Ave & Ida B Wells Dr,TA1305000010,Shedd Aquarium,15544,41.876272,-87.624576,41.867226,-87.615355,casual

In [23]:
divvy_df12

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,65DBD2F447EC51C2,electric_bike,2022-12-05 10:47:18,2022-12-05 10:56:34,Clifton Ave & Armitage Ave,TA1307000163,Sedgwick St & Webster Ave,13191,41.918244,-87.657115,41.922167,-87.638888,member
1,0C201AA7EA0EA1AD,classic_bike,2022-12-18 06:42:33,2022-12-18 07:08:44,Broadway & Belmont Ave,13277,Sedgwick St & Webster Ave,13191,41.940106,-87.645451,41.922167,-87.638888,casual
2,E0B148CCB358A49D,electric_bike,2022-12-13 08:47:45,2022-12-13 08:59:51,Sangamon St & Lake St,TA1306000015,St. Clair St & Erie St,13016,41.885919,-87.651133,41.894345,-87.622798,member
3,54C5775D2B7C9188,classic_bike,2022-12-13 18:50:47,2022-12-13 19:19:48,Shields Ave & 31st St,KA1503000038,Damen Ave & Madison St,13134,41.838464,-87.635406,41.881370,-87.674930,member
4,A4891F78776D35DF,classic_bike,2022-12-14 16:13:39,2022-12-14 16:27:50,Ashland Ave & Chicago Ave,13247,Damen Ave & Charleston St,13288,41.895954,-87.667728,41.920082,-87.677855,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181801,43ABEE85B6E15DCA,classic_bike,2022-12-05 06:51:04,2022-12-05 06:54:48,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,member
181802,F041C89A3D1F0270,electric_bike,2022-12-14 17:06:28,2022-12-14 17:19:27,Bernard St & Elston Ave,18016,Seeley Ave & Roscoe St,13144,41.949980,-87.714019,41.943403,-87.679618,member
181803,A2BECB88430BE156,classic_bike,2022-12-08 16:27:47,2022-12-08 16:32:20,Wacker Dr & Washington St,KA1503000072,Green St & Madison St,TA1307000120,41.883143,-87.637242,41.881859,-87.649264,member
181804,37B392960E566F58,classic_bike,2022-12-28 09:37:38,2022-12-28 09:41:34,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,member
181805,2DD1587210BA45AE,classic_bike,2022-12-09 00:27:25,2022-12-09 00:35:28,Southport Ave & Waveland Ave,13235,Seeley Ave & Roscoe St,13144,41.948150,-87.663940,41.943403,-87.679618,casual

In [24]:
divvy_data = pd.concat([divvy_df1, divvy_df2, divvy_df3, divvy_df4, divvy_df5, divvy_df6, divvy_df7, divvy_df8, divvy_df9, divvy_df10, divvy_df11, divvy_df12], axis=0)
divvy_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181801,43ABEE85B6E15DCA,classic_bike,2022-12-05 06:51:04,2022-12-05 06:54:48,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,member
181802,F041C89A3D1F0270,electric_bike,2022-12-14 17:06:28,2022-12-14 17:19:27,Bernard St & Elston Ave,18016,Seeley Ave & Roscoe St,13144,41.949980,-87.714019,41.943403,-87.679618,member
181803,A2BECB88430BE156,classic_bike,2022-12-08 16:27:47,2022-12-08 16:32:20,Wacker Dr & Washington St,KA1503000072,Green St & Madison St,TA1307000120,41.883143,-87.637242,41.881859,-87.649264,member
181804,37B392960E566F58,classic_bike,2022-12-28 09:37:38,2022-12-28 09:41:34,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,member
181805,2DD1587210BA45AE,classic_bike,2022-12-09 00:27:25,2022-12-09 00:35:28,Southport Ave & Waveland Ave,13235,Seeley Ave & Roscoe St,13144,41.948150,-87.663940,41.943403,-87.679618,casual

# Data Quality Checks

In [25]:
#Getting general data info: column count, column names, null values, data type
divvy_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5667717 entries, 0 to 181805
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 605.4+ MB

In [26]:
#Checking for number of null values
divvy_data.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    833064
start_station_id      833064
end_station_name      892742
end_station_id        892742
start_lat                  0
start_lng                  0
end_lat                 5858
end_lng                 5858
member_casual              0
dtype: int64

In [27]:
#Checking for duplicated data
divvy_data.duplicated().sum()

0

In [28]:
#Checking for unique values
divvy_data.nunique()

ride_id               5667717
rideable_type               3
started_at            4745862
ended_at              4758633
start_station_name       1674
start_station_id         1313
end_station_name         1692
end_station_id           1317
start_lat              668346
start_lng              631047
end_lat                  1606
end_lng                  1590
member_casual               2
dtype: int64

In [29]:
#Checking for empty values
divvy_data.empty

False

In [30]:
#getting rid of null values - 1,298,357 null values
divvy_data.dropna(inplace=True)

In [31]:
divvy_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181801,43ABEE85B6E15DCA,classic_bike,2022-12-05 06:51:04,2022-12-05 06:54:48,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,member
181802,F041C89A3D1F0270,electric_bike,2022-12-14 17:06:28,2022-12-14 17:19:27,Bernard St & Elston Ave,18016,Seeley Ave & Roscoe St,13144,41.949980,-87.714019,41.943403,-87.679618,member
181803,A2BECB88430BE156,classic_bike,2022-12-08 16:27:47,2022-12-08 16:32:20,Wacker Dr & Washington St,KA1503000072,Green St & Madison St,TA1307000120,41.883143,-87.637242,41.881859,-87.649264,member
181804,37B392960E566F58,classic_bike,2022-12-28 09:37:38,2022-12-28 09:41:34,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,member
181805,2DD1587210BA45AE,classic_bike,2022-12-09 00:27:25,2022-12-09 00:35:28,Southport Ave & Waveland Ave,13235,Seeley Ave & Roscoe St,13144,41.948150,-87.663940,41.943403,-87.679618,casual

# Data Formatting

In [32]:
#removing the underscore from 'electric bike' and 'classic bike' from the 'rideable_type' column
divvy_data['rideable_type'] = divvy_data['rideable_type'].str.replace(r'_', ' ')

In [33]:
#capitalizing the first letters from the 'rideable_type' and 'member_casual' columns
divvy_data['rideable_type'] = divvy_data['rideable_type'].str.title()
divvy_data['member_casual'] = divvy_data['member_casual'].str.title()

In [34]:
#updating 'started_at/ended_at' columns to be datetime data type
divvy_data[['started_at', 'ended_at']] = divvy_data[['started_at', 'ended_at']].apply(pd.to_datetime)

In [35]:
#separating out the datetime values from the 'started_at/ended_at' columns to individual date columns
divvy_data['start_date'] = divvy_data['started_at'].dt.date
divvy_data['end_date'] = divvy_data['ended_at'].dt.date

In [36]:
#updating 'started_at_date/ended_at_date' columns to be date data type
divvy_data[['start_date', 'end_date']] = divvy_data[['start_date', 'end_date']].apply(pd.to_datetime)

In [37]:
#adding a column for the trip lenth in seconds
divvy_data['TripLength'] = (divvy_data['ended_at'] - divvy_data['started_at']).dt.total_seconds()

In [38]:
#removing the '*' from the "end_station_name" column
#divvy_data['end_station_name'] = divvy_data['end_station_name'].map(lambda x: x.strip('*'))
divvy_data['end_station_name'] = divvy_data['end_station_name'].astype(str).str.strip('*')

In [39]:
divvy_data.sort_values(by='TripLength', ascending=True)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_date,end_date,TripLength
154251,918F745F62CAC29E,Classic Bike,2022-10-13 14:42:10,2022-10-13 11:53:28,Wilton Ave & Diversey Pkwy*,chargingstx0,Wilton Ave & Diversey Pkwy,chargingstx0,41.932418,-87.652705,41.932418,-87.652705,Member,2022-10-13,2022-10-13,-10122.0
301277,BF114472ABA0289C,Electric Bike,2022-06-07 19:14:47,2022-06-07 17:05:42,Base - 2132 W Hubbard,Hubbard Bike-checking (LBS-WH-TEST),W Armitage Ave & N Sheffield Ave,20254.0,41.917831,-87.653363,41.920000,-87.650000,Member,2022-06-07,2022-06-07,-7745.0
126532,072E947E156D142D,Electric Bike,2022-06-07 19:14:46,2022-06-07 17:07:45,W Armitage Ave & N Sheffield Ave,20254.0,W Armitage Ave & N Sheffield Ave,20254.0,41.920000,-87.650000,41.920000,-87.650000,Casual,2022-06-07,2022-06-07,-7621.0
174725,1BA46F9F216F5E17,Electric Bike,2022-11-06 01:58:11,2022-11-06 01:00:12,Pine Grove Ave & Waveland Ave,TA1307000150,Broadway & Cornelia Ave,13278,41.949382,-87.646576,41.945529,-87.646439,Casual,2022-11-06,2022-11-06,-3479.0
246644,B5602D5BB3D517F6,Electric Bike,2022-11-06 01:59:05,2022-11-06 01:02:03,Western Ave & Winnebago Ave,13068,California Ave & Milwaukee Ave,13084,41.915592,-87.687070,41.922695,-87.697153,Member,2022-11-06,2022-11-06,-3422.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61039,5AA216F2E2138811,Docked Bike,2022-01-13 17:44:13,2022-01-23 15:02:19,Broadway & Belmont Ave,13277,Avers Ave & Belmont Ave,15640,41.940106,-87.645451,41.939408,-87.723574,Casual,2022-01-13,2022-01-23,854286.0
23249,5EE2D7C533CCC17B,Docked Bike,2022-01-06 19:07:45,2022-01-25 14:30:33,Wabash Ave & Grand Ave,TA1307000117,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.891466,-87.626761,41.889955,-87.680651,Casual,2022-01-06,2022-01-25,1624968.0
47709,578BA30BA1348F18,Docked Bike,2022-01-01 01:00:05,2022-01-21 08:51:11,Millennium Park,13008,Fairfield Ave & Roosevelt Rd,KA1504000102,41.881032,-87.624084,41.866624,-87.694521,Casual,2022-01-01,2022-01-21,1756266.0
322133,DC510E6F98003A94,Docked Bike,2022-07-04 18:37:11,2022-07-27 00:32:38,DuSable Lake Shore Dr & Monroe St,13300,Green St & Randolph St,chargingstx3,41.880958,-87.616743,41.883602,-87.648627,Casual,2022-07-04,2022-07-27,1922127.0
67464,23697816035F9A8F,Docked Bike,2022-03-05 19:08:58,2022-03-29 15:43:02,Sheffield Ave & Fullerton Ave,TA1306000016,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.925602,-87.653708,41.889955,-87.680651,Casual,2022-03-05,2022-03-29,2061244.0

In [40]:
#renaming the column names in each dataframe
divvy_data = divvy_data.rename(columns={'ride_id':'RideID', 'rideable_type':'RideableType', 'started_at':'StartedAt', 'ended_at':'EndedAt', 'start_station_name':'StartStationName', 'start_station_id':'StartStationID', 'end_station_name':'EndStationName', 'end_station_id':'EndStationID', 'start_lat':'StartLat', 'start_lng':'StartLng', 'end_lat':'EndLat', 'end_lng':'EndLng', 'member_casual':'MemberCasual', 'start_date':'StartDate', 'end_date':'EndDate'})

In [41]:
#adding a column to account for the hour for 'Started At Time/Ended At Time' for grouping purposes
divvy_data['HourStarted'] = pd.to_datetime(divvy_data['StartedAt'], format='%H:%M:%S').dt.hour

In [42]:
#adding a column to account for the month for 'Start Date/End Date' for grouping purposes
divvy_data['StartMonth'] = pd.DatetimeIndex(divvy_data['StartDate']).month

#changing month number to month name
divvy_data['TripMonth'] = divvy_data['StartMonth'].apply(lambda x: calendar.month_name[x])

In [43]:
#adding day of week column for trips taken 
divvy_data['DayofWeek'] = divvy_data['StartDate'].dt.day_name()

In [44]:
divvy_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4369360 entries, 0 to 181805
Data columns (total 20 columns):
 #   Column            Dtype
---  ------            -----
 0   RideID            object
 1   RideableType      object
 2   StartedAt         datetime64[ns]
 3   EndedAt           datetime64[ns]
 4   StartStationName  object
 5   StartStationID    object
 6   EndStationName    object
 7   EndStationID      object
 8   StartLat          float64
 9   StartLng          float64
 10  EndLat            float64
 11  EndLng            float64
 12  MemberCasual      object
 13  StartDate         datetime64[ns]
 14  EndDate           datetime64[ns]
 15  TripLength        float64
 16  HourStarted       int64
 17  StartMonth        int64
 18  TripMonth         object
 19  DayofWeek         object
dtypes: datetime64[ns](4), float64(5), int64(2), object(9)
memory usage: 700.0+ MB

In [45]:
#removing rows that have a negative value in 'TripLength'
trip_length_negative = (divvy_data[divvy_data['TripLength'] <= 0].index)
trip_length_negative

Int64Index([ 32092,  43620,  53169,  76829,   8370,  26911,  26914,  38170,
             78148,  83271,
            ...
              4761,  21318,  41113,  56468,  67335,  71730,  96923, 109752,
            117133, 159684],
           dtype='int64', length=308)

In [46]:
#removing rows that are less than 60 seconds in 'TripLength'
trip_length_60 = divvy_data[divvy_data['TripLength'] <= 61].index
trip_length_60

Int64Index([    15,     73,    123,    158,    203,    363,    383,    424,
               457,    559,
            ...
            177862, 177866, 180077, 180768, 181406, 181432, 181433, 181434,
            181435, 181436],
           dtype='int64', length=77399)

In [47]:
divvy_data.drop(trip_length_60, inplace=True)

In [48]:
#querying for data that is strictly related to member vs casual riders
divvy_data2 = divvy_data[divvy_data.RideableType.isin(['Electric Bike','Classic Bike'])]

In [49]:
#removing the rows that are temporary stations
divvy_data3 = divvy_data2[divvy_data2['EndStationName'].str.contains('Temp')==False]

In [50]:
#removing the rows that are test stations
divvy_data3 = divvy_data2[divvy_data2['EndStationID'].str.contains('TEST')==False]
divvy_data3 = divvy_data2[divvy_data2['StartStationID'].str.contains('TEST')==False]

In [51]:
divvy_data3

,RideID,RideableType,StartedAt,EndedAt,StartStationName,StartStationID,EndStationName,EndStationID,StartLat,StartLng,EndLat,EndLng,MemberCasual,StartDate,EndDate,TripLength,HourStarted,StartMonth,TripMonth,DayofWeek
0,C2F7DD78E82EC875,Electric Bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,Casual,2022-01-13,2022-01-13,177.0,11,1,January,Thursday
1,A6CF8980A652D272,Electric Bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,Casual,2022-01-10,2022-01-10,261.0,8,1,January,Monday
2,BD0F91DFF741C66D,Classic Bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,Member,2022-01-25,2022-01-25,261.0,4,1,January,Tuesday
3,CBB80ED419105406,Classic Bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,Casual,2022-01-04,2022-01-04,896.0,0,1,January,Tuesday
4,DDC963BFDDA51EEA,Classic Bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,Member,2022-01-20,2022-01-20,362.0,1,1,January,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181801,43ABEE85B6E15DCA,Classic Bike,2022-12-05 06:51:04,2022-12-05 06:54:48,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,Member,2022-12-05,2022-12-05,224.0,6,12,December,Monday
181802,F041C89A3D1F0270,Electric Bike,2022-12-14 17:06:28,2022-12-14 17:19:27,Bernard St & Elston Ave,18016,Seeley Ave & Roscoe St,13144,41.949980,-87.714019,41.943403,-87.679618,Member,2022-12-14,2022-12-14,779.0,17,12,December,Wednesday
181803,A2BECB88430BE156,Classic Bike,2022-12-08 16:27:47,2022-12-08 16:32:20,Wacker Dr & Washington St,KA1503000072,Green St & Madison St,TA1307000120,41.883143,-87.637242,41.881859,-87.649264,Member,2022-12-08,2022-12-08,273.0,16,12,December,Thursday
181804,37B392960E566F58,Classic Bike,2022-12-28 09:37:38,2022-12-28 09:41:34,Sangamon St & Washington Blvd,13409,Peoria St & Jackson Blvd,13158,41.883165,-87.651100,41.877642,-87.649618,Member,2022-12-28,2022-12-28,236.0,9,12,December,Wednesday
181805,2DD1587210BA45AE,Classic Bike,2022-12-09 00:27:25,2022-12-09 00:35:28,Southport Ave & Waveland Ave,13235,Seeley Ave & Roscoe St,13144,41.948150,-87.663940,41.943403,-87.679618,Casual,2022-12-09,2022-12-09,483.0,0,12,December,Friday

In [52]:
divvy_data3.sort_values(by='TripLength', ascending=True)

,RideID,RideableType,StartedAt,EndedAt,StartStationName,StartStationID,EndStationName,EndStationID,StartLat,StartLng,EndLat,EndLng,MemberCasual,StartDate,EndDate,TripLength,HourStarted,StartMonth,TripMonth,DayofWeek
135270,33921B5533BBEA0B,Electric Bike,2022-07-31 23:27:34,2022-07-31 23:28:35,Franklin St & Adams St (Temp),TA1309000008,Franklin St & Adams St (Temp),TA1309000008,41.879096,-87.636140,41.879434,-87.635504,Casual,2022-07-31,2022-07-31,61.0,23,7,July,Sunday
363620,584DB6DE15A568EB,Classic Bike,2022-08-15 09:35:37,2022-08-15 09:36:38,Montrose Harbor,TA1308000012,Montrose Harbor,TA1308000012,41.963982,-87.638181,41.963982,-87.638181,Member,2022-08-15,2022-08-15,61.0,9,8,August,Monday
22638,119C22304D0C0555,Electric Bike,2022-10-24 18:34:16,2022-10-24 18:35:17,Morgan St & 18th St,13163,Morgan St & 18th St,13163,41.858076,-87.651134,41.858086,-87.651073,Member,2022-10-24,2022-10-24,61.0,18,10,October,Monday
18685,3248149E1A6BEA97,Electric Bike,2022-02-21 04:14:42,2022-02-21 04:15:43,Michigan Ave & Washington St,13001,State St & Randolph St,TA1305000029,41.884931,-87.622913,41.884621,-87.627834,Member,2022-02-21,2022-02-21,61.0,4,2,February,Monday
363644,E3C87E4533DAC777,Electric Bike,2022-08-06 12:53:46,2022-08-06 12:54:47,Kedzie Ave & Leland Ave,KA1504000126,Kedzie Ave & Leland Ave,KA1504000126,41.966710,-87.708065,41.966686,-87.708052,Casual,2022-08-06,2022-08-06,61.0,12,8,August,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188556,9E212E9AE1CE5C9A,Classic Bike,2022-04-18 16:29:50,2022-04-19 17:22:45,Clark St & Newport St,632,Sheridan Rd & Buena Ave,TA1309000027,41.944540,-87.654678,41.958494,-87.654966,Member,2022-04-18,2022-04-19,89575.0,16,4,April,Monday
72544,BFB39AF4EFB77B61,Classic Bike,2022-08-01 18:57:44,2022-08-02 19:55:25,DuSable Lake Shore Dr & Monroe St,13300,Southport Ave & Clybourn Ave,TA1309000030,41.880958,-87.616743,41.920771,-87.663712,Casual,2022-08-01,2022-08-02,89861.0,18,8,August,Monday
199756,526DBE45D60CBEF5,Classic Bike,2022-07-04 17:47:49,2022-07-05 18:45:34,Sheridan Rd & Irving Park Rd,13063,Glenwood Ave & Touhy Ave,525,41.954245,-87.654406,42.012701,-87.666058,Casual,2022-07-04,2022-07-05,89865.0,17,7,July,Monday
192640,5CBC5BC0460C7E67,Classic Bike,2022-04-14 19:10:49,2022-04-15 20:09:00,Clarendon Ave & Gordon Ter,13379,Lincoln Ave & Roscoe St,chargingstx5,41.957867,-87.649505,41.943350,-87.670668,Casual,2022-04-14,2022-04-15,89891.0,19,4,April,Thursday
42076,43B33E6D2C9CD722,Classic Bike,2022-05-17 15:40:14,2022-05-18 16:39:39,Racine Ave & 61st St,562,Carpenter St & 63rd St,18025,41.783189,-87.654372,41.779870,-87.650919,Casual,2022-05-17,2022-05-18,89965.0,15,5,May,Tuesday

# Exploratory Analysis

In [56]:
member_status = pd.DataFrame(divvy_data.groupby('MemberCasual')['RideID'].count()).reset_index()
member_status.rename(columns = {'RideID':'RideCount'}, inplace=True)
member_status

  MemberCasual  RideCount
0       Casual    1462942
1       Member    2143017

In [57]:
station_start_trips = pd.DataFrame(divvy_data.groupby('StartStationName')['RideID'].count()).reset_index()
station_start_trips.rename(columns = {'RideID': 'RideCount'}, inplace=True)
station_start_trips = station_start_trips.sort_values(by=['RideCount'])
station_start_trips

                        StartStationName  RideCount
199       Christiana Ave & Bryn Mawr Ave          1
849         Pittsburgh Ave & Irving Park          1
290                  Damen Ave & 80th St          1
851      Plainfield Ave & Irving Park Rd          1
855              Princeton Ave & 43rd St          1
...                                  ...        ...
1430               Wells St & Concord Ln      28627
742                Michigan Ave & Oak St      30677
335   DuSable Lake Shore Dr & North Blvd      30824
334    DuSable Lake Shore Dr & Monroe St      32935
1365             Streeter Dr & Grand Ave      60011

[1515 rows x 2 columns]

In [58]:
station_end_trips = pd.DataFrame(divvy_data.groupby('EndStationName')['RideID'].count()).reset_index()
station_end_trips.rename(columns = {'RideID': 'RideCount'}, inplace=True)
station_end_trips = station_end_trips.sort_values(by=['RideCount'])
station_end_trips.head(50)

                                         EndStationName  RideCount
1541                                     Zapata Academy          1
954                Public Rack - East End Ave & 87th St          1
951                   Public Rack - Damen Ave & 80th St          1
950                   Public Rack - Damen Ave & 47th St          1
949                 Public Rack - Crandon Ave & 80th St          1
178                             Central Ave & North Ave          1
948           Public Rack - Cottage Grove Ave & 98th St          1
946           Public Rack - Cottage Grove Ave & 89th Pl          1
944               Public Rack - Cottage Grove & 86th St          1
942              Public Rack - Commercial Ave & 89th St          1
940                   Public Rack - Clyde Ave & 87th St          1
928              Public Rack - Christiana Ave & 55th St          1
958                 Public Rack - Emerald Ave & 43rd St          1
927             Public Rack - Christiana Ave & 111th St          1
921              Public Rack - Champlain Ave & 134th St          1
919        Public Rack - Central Park Ave & Fulton Blvd          1
917            Public Rack - Central Park Ave & 16th St          1
913           Public Rack - Central Ave & Congress Pkwy          1
903                      Public Rack - Burnside Academy          1
199                                         Chopin Park          1
200                           Christiana Ave & 111th St          1
902                 Public Rack - Buffalo Ave & 89th St          1
204                      Christiana Ave & Bryn Mawr Ave          1
898                   Public Rack - Bishop St & 81st St          1
897              Public Rack - Baltimore Ave & 132nd St          1
923                 Public Rack - Chappel Ave & 71st St          1
892   Public Rack - Austin Branch Chicago Public Lib...          1
960                  Public Rack - Ewing Ave & 102nd St          1
964                   Public Rack - Ewing Ave & 95th St          1
1061                   Public Rack - Laflin St &51st ST          1
1060                  Public Rack - Laflin St & 51st St          1
1055                Public Rack - Kostner Ave & Lake St          1
1044                Public Rack - Kimbark Ave & 63rd St          1
1042        Public Rack - Kildare Ave & Washignton Blvd          1
1039           Public Rack - Kildare Ave & Division Ave          1
1038                Public Rack - Kildare Ave & 63rd St          1
1032                 Public Rack - Keeler Ave & 55th St          1
1030         Public Rack - Keef Ave & South Chicago Ave          1
1024            Public Rack - Kedzie Ave & 64th St - SE          1
1019                 Public Rack - Kedzie Ave & 61st Pl          1
961                  Public Rack - Ewing Ave & 105th St          1
1013             Public Rack - Kedzie & 103rd St - East          1
142                          California Ave & Ogden Ave          1
1009                Public Rack - Kedvale Ave & 63rd St          1
146                              Calumet Ave & 103rd St          1
1002               Public Rack - Jeffrey Blvd & 71st St          1
1000        Public Rack - Independence Blvd & Roosevelt          1
995                Public Rack - Houston Ave & 130th St          1
993                   Public Rack - Homan Ave & Lake St          1
991                  Public Rack - Homan Ave & 111th St          1

In [59]:
trip_start_month = pd.DataFrame(divvy_data.groupby('StartMonth')['RideID'].count()).reset_index()
trip_start_month.rename(columns ={'RideID':'RideCount'}, inplace=True)
trip_start_month = trip_start_month.sort_values(by=['RideCount'])
trip_start_month

    StartMonth  RideCount
0            1      61330
1            2      68674
11          12     105661
2            3     171728
10          11     205972
3            4     220778
9           10     354926
4            5     438093
8            9     438431
7            8     500409
5            6     510957
6            7     529000

In [60]:
#returning top 50 most frequented start stations
divvy_data3['StartStationName'].value_counts().nlargest(50)

Streeter Dr & Grand Ave                  50140
DuSable Lake Shore Dr & North Blvd       28254
Wells St & Concord Ln                    28030
Michigan Ave & Oak St                    27212
DuSable Lake Shore Dr & Monroe St        27054
Clark St & Elm St                        26555
Kingsbury St & Kinzie St                 25664
Theater on the Lake                      24058
Wells St & Elm St                        23409
Millennium Park                          22592
Clark St & Armitage Ave                  21687
Broadway & Barry Ave                     21620
Wabash Ave & Grand Ave                   20334
Clark St & Lincoln Ave                   20285
Wilton Ave & Belmont Ave                 20211
Clinton St & Madison St                  20083
Clinton St & Washington Blvd             19480
Clark St & Wrightwood Ave                19426
Wells St & Huron St                      19299
Dearborn St & Erie St                    19172
Indiana Ave & Roosevelt Rd               19074
St. Clair St & Erie St                   18675
University Ave & 57th St                 18386
Wells St & Hubbard St                    17976
Sheffield Ave & Fullerton Ave            17828
Ellis Ave & 60th St                      17808
LaSalle St & Illinois St                 17528
Michigan Ave & Washington St             17175
Clark St & Newport St                    17126
Ashland Ave & Division St                17101
Larrabee St & Webster Ave                16995
Loomis St & Lexington St                 16951
Clark St & Drummond Pl                   16841
Canal St & Adams St                      16652
Green St & Madison St                    16531
Lakeview Ave & Fullerton Pkwy            16514
DuSable Lake Shore Dr & Diversey Pkwy    16311
Broadway & Waveland Ave                  16304
Halsted St & Roscoe St                   16098
Shedd Aquarium                           16089
Dearborn Pkwy & Delaware Pl              15976
Broadway & Cornelia Ave                  15900
Wabash Ave & Roosevelt Rd                15870
Damen Ave & Pierce Ave                   15803
New St & Illinois St                     15710
Wells St & Evergreen Ave                 15637
Lincoln Ave & Fullerton Ave              15597
Michigan Ave & Lake St                   15438
Halsted St & Wrightwood Ave              15423
McClurg Ct & Ohio St                     15400
Name: StartStationName, dtype: int64

In [61]:
#quering for the top 50 start stations only
divvy_data4 = divvy_data3[divvy_data3.StartStationName.isin(['Streeter Dr & Grand Ave','DuSable Lake Shore Dr & North Blvd', 'Wells St & Concord Ln', 'Michigan Ave & Oak St', 'DuSable Lake Shore Dr & Monroe St', 'Clark St & Elm St', 'Kingsbury St & Kinzie St', 'Theater on the Lake', 'Wells St & Elm St', 'Millennium Park', 'Clark St & Armitage Ave', 'Broadway & Barry Ave', 'Wabash Ave & Grand Ave', 'Clark St & Lincoln Ave', 'Wilton Ave & Belmont Ave', 'Clinton St & Madison St', 'Clinton St & Washington Blvd', 'Clark St & Wrightwood Ave', 'Wells St & Huron St', 'Dearborn St & Erie St', 'Indiana Ave & Roosevelt Rd', 'St. Clair St & Erie St', 'University Ave & 57th St', 'Wells St & Hubbard St', 'Sheffield Ave & Fullerton Ave', 'Ellis Ave & 60th St', 'LaSalle St & Illinois St', 'Michigan Ave & Washington St', 'Clark St & Newport St', 'Ashland Ave & Division St', 'Larrabee St & Webster Ave', 'Loomis St & Lexington St', 'Clark St & Drummond Pl', 'Canal St & Adams St', 'Green St & Madison St', 'Lakeview Ave & Fullerton Pkwy', 'DuSable Lake Shore Dr & Diversey Pkwy', 'Broadway & Waveland Ave', 'Halsted St & Roscoe St', 'Shedd Aquarium', 'Dearborn Pkwy & Delaware Pl', 'Broadway & Cornelia Ave', 'Wabash Ave & Roosevelt Rd', 'Damen Ave & Pierce Ave', 'New St & Illinois St', 'Wells St & Evergreen Ave', 'Lincoln Ave & Fullerton Ave', 'Michigan Ave & Lake St', 'Halsted St & Wrightwood Ave', 'McClurg Ct & Ohio St'])]

In [62]:
divvy_data4.nunique()

RideID              985282
RideableType             2
StartedAt           946819
EndedAt             950239
StartStationName        50
StartStationID          50
EndStationName         807
EndStationID           771
StartLat            135104
StartLng            130192
EndLat                 721
EndLng                 718
MemberCasual             2
StartDate              365
EndDate                366
TripLength           11128
HourStarted             24
StartMonth              12
TripMonth               12
DayofWeek                7
dtype: int64

In [63]:
divvy_data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 985282 entries, 2 to 181798
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   RideID            985282 non-null  object
 1   RideableType      985282 non-null  object
 2   StartedAt         985282 non-null  datetime64[ns]
 3   EndedAt           985282 non-null  datetime64[ns]
 4   StartStationName  985282 non-null  object
 5   StartStationID    985282 non-null  object
 6   EndStationName    985282 non-null  object
 7   EndStationID      985282 non-null  object
 8   StartLat          985282 non-null  float64
 9   StartLng          985282 non-null  float64
 10  EndLat            985282 non-null  float64
 11  EndLng            985282 non-null  float64
 12  MemberCasual      985282 non-null  object
 13  StartDate         985282 non-null  datetime64[ns]
 14  EndDate           985282 non-null  datetime64[ns]
 15  TripLength        985282 non-null  float64
 16  HourStarted       985282 non-null  int64
 17  StartMonth        985282 non-null  int64
 18  TripMonth         985282 non-null  object
 19  DayofWeek         985282 non-null  object
dtypes: datetime64[ns](4), float64(5), int64(2), object(9)
memory usage: 157.9+ MB

In [65]:
#exporting dataset to csv
divvy_data4.to_csv('divvy_data.csv')

In [66]:
divvy_data4.nunique()

RideID              985282
RideableType             2
StartedAt           946819
EndedAt             950239
StartStationName        50
StartStationID          50
EndStationName         807
EndStationID           771
StartLat            135104
StartLng            130192
EndLat                 721
EndLng                 718
MemberCasual             2
StartDate              365
EndDate                366
TripLength           11128
HourStarted             24
StartMonth              12
TripMonth               12
DayofWeek                7
dtype: int64